<div
  class="my-12">
  <div
    class="relative h-[30vh] w-full flex justify-center items-center"
    style="background-image: url('{{ image | img_url: 'original' }}'); background-size: cover; background-position: {{ section.settings.focal_x }}% {{ section.settings.focal_y }}%;">
    <div
      class="bg-midnight z-1 absolute inset-0 opacity-25  w-full h-full"></div>
  </div>
</div>