<div>
  custom banner
</div>

{%- schema -%}
  {
    "name": "Custom Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      }, {
        "type": "range",
        "id": "focal_x",
        "label": "Focal X",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "range",
        "id": "focal_y",
        "label": "Focal Y",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "checkbox",
        "id": "show_banner",
        "label": "Show Banner",
        "default": true
      }
    ]
  }
{%- endschema -%}