<div
  class="flex flex-col items-center justify-center my-8">

  <div
    class="max-w-6xl mx-auto md:mt-24">
    <div
      class="flex w-full justify-between items-end">
      <h1
        class="text-xl md:text-3xl font-medium">{{ section.settings.title }}</h1>
      <a
        href=""
        class="text-primary hover:text-midnight hover:underline transitionAll">
        See all the collection
      </a>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {% paginate collection.products by section.settings.number_of_collection_list_to_show %}
        {% for collection in collection.products %}
          {% render 'collection-card', collection: collection %}
        {% endfor %}
      {% endpaginate %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section List Collections",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Our collections",
        "label": "Title"
      }, {
        "type": "range",
        "id": "number_of_collection_list_to_show",
        "min": 3,
        "max": 12,
        "step": 1,
        "default": 3,
        "label": "Number of collections to show"
      }
    ],
    "presets": [
      {
        "name": "Collection List"
      }
    ]
  }
{% endschema %}