<div
  class="flex flex-col items-center justify-center my-8">

  <div
    class="max-w-6xl mx-auto md:mt-24">
    <div
      class="flex w-full justify-between items-end">
      <h1
        class="text-xl md:text-3xl font-medium">{{ section.settings.title }}</h1>
      <a
        href=""
        class="text-primary hover:text-midnight hover:underline transitionAll">
        See all the collection
      </a>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {% for collection in collections %}
        {% if collection.all_products_count > 0 %}

          {% render 'collection-card', collection: collection %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section List Collections",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Our collections",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Collection List"
      }
    ]
  }
{% endschema %}