{% assign footer_menu_1_linklist = linklists[section.settings.footer_menu_1].links %}
{% assign footer_menu_2_linklist = linklists[section.settings.footer_menu_2].links %}
{% comment %} {% assign footer_menu_4_linklist = linklists[linklists.footer2.links] %} {% endcomment %}

<div
  class="bg-dark">
  <div
    class="max-w-6xl mx-auto  px-4 py-8">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-light">
      <nav>
        <ul>
          {% for link in footer_menu_1_linklist %}
            {% if link.links == blank %}
              <li>
                <a
                  href="{{ link.url }}"
                  class="text-base hover:underline transitionAll font-poppins">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}

        </ul>
      </nav>
      <div>
        RS
      </div>
      <nav>
        <ul>
          {% for link in footer_menu_2_linklist %}
            {% if link.links == blank %}
              <li>
                <a
                  href="{{ link.url }}"
                  class="text-base hover:underline transitionAll">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}

        </ul>
      </nav>
      <div>
        newsletter
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_menu_1",
        "label": "Footer menu 1",
        "default": "footer"
      }, {
        "type": "link_list",
        "id": "footer_menu_2",
        "label": "Footer menu 2",
        "default": "footer"
      }
    ]
  }
{% endschema %}