<div>
  Newsletter
</div>

{% schema %}
  {
    "name": "Newsletter Form",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Subscrite to our Newsletter"
      }
    ],
    "presets": [
      {
        "name": "Newsletter Form"
      }
    ]
  }
{% endschema %}