<section
  class="relative bg-primaryDark my-8"
  style="background-image: url('{{ section.settings.newsletter_image | img_url: 'original' }}'); background-size: cover; background-position: center;">
  <div
    class="bg-dark z-1 absolute inset-0 opacity-[0.55]  w-full h-full"></div>
  <div
    class="relative z-2 max-w-md mx-auto py-8 md:py-12 px-4">
    <div
      class="w-full h-full py-16">
      {% form 'customer' %}
        <h2
          class="text-center text-xl md:text-3xl font-medium pb-4 text-light">{{ section.settings.title }}</h2>
        <p
          class="mb-8 text-center text-base text-silver">{{ section.settings.subtitle }}</p>
        <div
          class="email pb-3 ">
          <label
            class="sr-only"
            for="email">Email</label>
          <input
            class="w-full py-2 text-dark px-2 rounded-md focus:outline-none"
            type="email"
            placeholder="Your email"
            name="contact[email]">
        </div>

        <div
          class="submit ">
          <input
            class="border bg-primary hover:border-light py-2 w-full rounded-md cursor-pointer border-none text-dark font-medium  hover:bg-dark hover:text-light transitionAll block"
            type="submit"
            value="Sign up" />


        </div>
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter Form",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Subscrite to our Newsletter"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Stay aware of our new product"
      }, {
        "type": "image_picker",
        "id": "newsletter_image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Newsletter Form"
      }
    ]
  }
{% endschema %}