<div
  class="px-4 py-8">
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1
      class="pageTitle">{{ collection.title }}</h1>
    <div
      class="px-4 py-8">
      <img
        src="{{ section.settings.custom_image | img_url: 'medium' }}"
        alt="Custom Image">

      {% paginate collection.products by section.settings.number_of_products_per_page %}
        <!-- Le reste de votre code pour afficher les produits -->
      {% endpaginate %}
    </div>
    <div
      class="max-w-6xl mx-auto">
      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% else %}
          <p>They are no product inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate, vendor: section.settings.display_vendor %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of profucts per page"
      }, {
        "type": "checkbox",
        "id": "display_vendor",
        "default": true,
        "label": "Display Vendor"
      }, {
        "type": "image_picker",
        "id": "custom_image",
        "label": "Custom Image"
      }
    ]
  }
{% endschema %}