<div
  class="">
  {% if section.settings.show_banner %}
    {% if collection.featured_image %}
      {% render 'collection-banner', image: collection.featured_image %}
    {% endif %}
  {% endif %}

  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <div
      class="max-w-6xl mx-auto text-center">
      <a
        href="{{ routes.collections_url }}"
        class="text-base  text-primary hover:underline">Go back to collections</a>
    </div>
    <h1
      class="pageTitle">{{ collection.title }}</h1>

    <div
      class="max-w-6xl mx-auto px-4 py-8">

      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% else %}
          <p>They are no product inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate, vendor: section.settings.display_vendor %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of profucts per page"
      },
      {
        "type": "checkbox",
        "id": "display_vendor",
        "default": true,
        "label": "Display Vendor"
      },
      {
        "type": "checkbox",
        "id": "show_banner",
        "default": true,
        "label": "Show Banner"
      },
      {
        "type": "range",
        "id": "focal_x",
        "label": "Focal X Banner",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "range",
        "id": "focal_y",
        "label": "Focal Y Banner",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1
      }
    ]
  }
{% endschema %}