<div
  class="">
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    {% comment %} <h1
    class="pageTitle">{{ collection.title }}</h1> {% endcomment %}
    <div
      class="relative my-12 h-72 w-full flex justify-center items-center"
      style="background-image: url('{{ section.settings.custom_image | img_url: 'original' }}'); background-size: cover; background-position: center;">
      <div
        class="bg-tahiti z-1 absolute inset-0 opacity-25 blur-md invert sepia"></div>
      {% comment %} <img
      class="w-full h-72"
      src="{{ section.settings.custom_image | img_url: 'medium' }}"
      alt="Custom Image"> {% endcomment %}
      <h1
        class="pageTitle text-light relative z-5">{{ collection.title }}</h1>
    </div>
    <div
      class="max-w-6xl mx-auto px-4 py-8">
      <div
        class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% else %}
          <p>They are no product inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate, vendor: section.settings.display_vendor %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "number_of_products_per_page",
        "default": 6,
        "label": "Number of profucts per page"
      }, {
        "type": "checkbox",
        "id": "display_vendor",
        "default": true,
        "label": "Display Vendor"
      }, {
        "type": "image_picker",
        "id": "custom_image",
        "label": "Custom Image"
      }
    ]
  }
{% endschema %}