<div
  class="flex w-full items-center justify-center py-12 px-6 md:px-4 lg:px-8 bg-red-600">
  <div
    class="max-w-md mx-auto space-y-8 bg-blue-600">
    <div>
      <h1
        class="text-center text-3xl font-bold mt-6">Sign in to your account</h1>
    </div>
    <div
      class="mt-8 mx-auto">
      {% form 'customer_login' %}
        <div
          class="my-2">
          <label
            for="email_address"
            class="sr-only">Email address</label>
          <input
            type="email"
            name="customer[email]"
            placeholder="Email address"
            id="email_address"
            autocomplete="email"
            class="relative block w-full px-3 py-2 border">
        </div>

        {% if form.password_needed %}
          <div
            class="my-2">
            <label
              for="password"
              class="sr-only">Password</label>
            <input
              type="password"
              name="customer[password]"
              placeholder="Password"
              id="email_address"
              autocomplete="current-password"
              class="relative block w-full px-3 py-2 border">
          </div>
        {% endif %}

        <div
          class="w-full h-fit bg-dark rounded-2xl group">
          <button
            type="submit"
            class="relative rounded-2xl w-full py-2 px-4 hoverTranslate transitionAll text-sm font-medium text-light bg-metal">Sign in</button>
        </div>
      {% endform %}
    </div>
  </div>
  <div
    class="max-w-md w-full space-y-8"></div>
</div>