<div class="min-h-screen bg-light py-6 flex flex-col justify-center sm:py-12 px-4 md:px-0">
  {% comment %} Login {% endcomment %}
  <div
    class="relative sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 translate-x-[6px] translate-y-[6px]  shadow-lg transform bg-dark rounded-2xl"></div>
    <div
      class="relative px-4 py-10 bg-white shadow-lg rounded-2xl sm:p-20  border border-dark">
      <div
        class="max-w-md mx-auto">
        <div>
          <h1
            class="text-2xl font-semibold">Register an account</h1>
        </div>
        {% form 'create_customer' %}
          {% if form.errors %}
            <div
              class="relative border border-danger bg-red-200 px-4 py-3"
              role="alert">
              <strong
                class="font-bold">Error !</strong>
              <p
                class="block sm:inline">{{ form.errors | default_errors }}</p>
            </div>
          {% endif %}
          <div
            class="divide-y divide-gray-200">
            <div
              class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div
                class="relative">
                <input
                  type="text"
                  name="customer[first_name]"
                  placeholder="First name"
                  id="first_name"
                  autocomplete="given-name"
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none" />
                <label
                  for="first_name"
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">First name</label>
              </div>
              <div
                class="relative">
                <input
                  type="text"
                  name="customer[last_name]"
                  placeholder="Last name"
                  id="last_name"
                  autocomplete="family-name"
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none" />
                <label
                  for="last_name"
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Last name</label>
              </div>
              <div
                class="relative">
                <input
                  type="email"
                  name="customer[email]"
                  placeholder="Email address"
                  id="email_address"
                  autocomplete="email"
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none" />
                <label
                  for="email_address"
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
              </div>
              <div
                class="relative">
                <input
                  type="password"
                  name="customer[password]"
                  placeholder="Password"
                  id="password"
                  autocomplete="new-password"
                  class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none">
                <label
                  for="password"
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
              </div>

              <div
                class="">
                <button
                  type="submit"
                  class="relative rounded-md w-full py-2 px-4 transitionAll text-sm font-medium text-light hover:bg-primary bg-midnight">Create account</button>
              </div>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>