<div
  class="my-12">
  <div
    class="relative h-48 md:h-96 w-full flex justify-center items-center"
    style="background-image: url('{{ section.settings.banner_image | img_url: 'original' }}'); background-size: cover; background-position: center;">
    <div
      class="bg-midnight z-1 absolute inset-0 opacity-25  w-full h-full"></div>
  </div>
</div>



{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Banner",
        "label": "Title"
      }, {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}